body{
  height: 100vh;
}
main{
  max-width: 80vh;
  max-height: 95vh;
}
li{
  list-style: none;
}

#msg{
  color: aquamarine;
}
#msg-container{
  height: 50vh;
  overflow-y: scroll;
  background: #003d4e !important;
}

#real-name,#input-name{
  font-size: 0.5em;
}