<nav class="nav mx-2 mt-1">
  <span class="navbar-title me-2" onclick="window.location.href = 'index.html' ">Memorable</span>
  <li class="nav-item d-flex flex-column justify-content-center">
    <a class="nav-link" href="catalog.html">Catalog</a>
  </li>
  <li class="nav-item d-flex flex-column justify-content-center">
    <a class="nav-link" href="designs-manager.html">Designs</a>
  </li>
  <li class="nav-item d-flex flex-column justify-content-center">
    <a class="nav-link" href="real-designs-manager.html">Real designs</a>
  </li>
  <li class="nav-item d-flex flex-column justify-content-center">
    <a class="nav-link" href="wines_manager.html">wines</a>
  </li>
  <li class="nav-item d-flex flex-column justify-content-center">
    <a class="nav-link" href="pucharse-orders.html">pucharse orders</a>
  </li>
  <li id="log-stat" class="nav-item d-flex flex-column justify-content-center ">
    <div class="dropdown">
      <span class="nav-link dropdown-toggle rounded-pill" id="log-stat" data-bs-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
            -
      </span>
      <div class="dropdown-menu" aria-labelledby="log-stat">
        <!-- here goes the menu options-->
      </div>
    </div>
  </li>
</nav>