<div class="row mx-2">
  <strong><span id="first-name" class="fs-1">re</span> <br> <span id="last-name" class="fs-1">re</span></strong>
  <div>
    <strong>CC: </strong><span id="id" class="fs-6"></span>
  </div>
  <div>
    <strong>Phone: </strong><span id="phone" class="fs-5"></span>
  </div>
  <div>
    <strong>Email: </strong><span id="email"></span>
  </div>
  <div>
    <button id="edit-user-info" type="button" class="btn btn-outline-warning rounded-pill ms-4 mt-2 px-4">edit</button>
    <button id="save-user-info" type="button" class="d-none btn btn-outline-success rounded-pill ms-4 mt-2 px-4">save</button>
  </div>
</div>


